<!DOCTYPE html>
<html lang="tr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="shortcut icon" href="/assets/logo.webp" type="image/webp">
        <link rel="stylesheet" href="/assets/beer.min.css">
        <script type="module" src="/assets/beer.min.js" defer></script>
    </head>

    <body>
    <nav class="middle-align small-space surface-container" style="padding: 5px;">
        <img src="/assets/logo.webp" class="large" alt="">
        <h4 class="max">KTUNStore</h4>

        <button class="border" onclick="window.location.href='User/Login'"><i>login</i>Giriş Yap</button>
        <button class="" onclick="window.location.href='User/Register'">Kayıt Ol</button>
        <button class="border" onclick="window.location.href='Shop'"><i>shopping_basket</i></button>
    </nav>

    <div class="container">
        @RenderBody()  @* Sayfaların içeriği buraya eklenecek *@
    </div>

    </body>
   
    <script type="module" src="/assets/material-dynamic-colors.min.js"></script>
    <script type="module">
        ui("mode", "light");
        ui("theme", "#096ee2");
    </script>
</html>