@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>İletişim</h1>
<p>Bize aşağıdaki iletişim yollarından ulaşabilirsiniz:</p>
<ul>
    <li><strong>E-posta:</strong> destek@dijikon.com</li>
    <li><strong>Telefon:</strong> 0 (555) 123 45 67</li>
    <li><strong>Adres:</strong> Dijikon Proje Ofisi, Teknokent, Türkiye</li>
</ul>
