@{
ViewData["Title"] = "Ana Sayfa";
}

@{ // Navbarı direkt hazır şablondan çekiyoruz.
    Layout = "~/Views/Shared/_Navbar.cshtml"; 
}

<head>
    <title>E-Ticaret</title>
</head>

<header>
    <div class="center-align">
        <main class="responsive">
            <nav class="surface-container-high round padding" style="margin-top: 10px">
                <hr class="max">
                <div>Elektronik</div>
                <hr class="max">
                <div>Giyim</div>
                <hr class="max">
                <div>Porselen</div>
                <hr class="max">
                <div>Kitap</div>
                <hr class="max">
                <div>Mobilya</div>
                <hr class="max">
                <div>Yapı Market</div>
                <hr class="max">
            </nav>
            <section style="margin-top: 50px">
                <img class="max" style="aspect-ratio: 16/9; width: 100%; border-radius: 20px" src="assets/hero.jpg" alt=""/>
            </section>
            <section class="grid left-align" style="margin-top: 100px">
                <h5 class="s12">Kaçırılabilek Fırsatlar</h5>
                <article class="no-padding s12 m6 l4 left-align">
                    <a class="responsive"  href="/product">
                            <img class="responsive extra" src="https://picsum.photos/200/300">
                            <div class="absolute top right margin round error-container" style="padding: 0 10px;">%50 İndirim</div>
                    </a>
                    <div class="padding">
                        <div class="row">
                            <div class="round error-text" style="padding: 0 10px;">En çok satan</div>
                            <div class="round tertiary-text" style="padding: 0 10px;">Tükenmek üzere</div>
                        </div>
                        <h5>Çakmak</h5>
                        <nav class="left-align middle-align">
                            <h5 class="small">15.90₺</h5>
                            <h6 class="small overline">31.80₺</h6>
                        </nav>
                        <nav class="right-align">
                            <button>Sepete Ekle</button>
                        </nav>
                    </div>
                </article>   
                <article class="no-padding s12 m6 l4 left-align">
                    <a class="responsive" href="/product">
                        <img class="responsive extra" src="https://picsum.photos/205/300">
                        <div class="absolute top right margin round error-container" style="padding: 0 10px;">%50 İndirim</div>
                    </a>
                    <div class="padding">
                        <div class="row">
                            <div class="round error-text" style="padding: 0 10px;">En çok satan</div>
                            <div class="round tertiary-text" style="padding: 0 10px;">Tükenmek üzere</div>
                        </div>
                        <h5>Çakmak</h5>
                        <nav class="left-align middle-align">
                            <h5 class="small">15.90₺</h5>
                            <h6 class="small overline">31.80₺</h6>
                        </nav>
                        <nav class="right-align">
                            <button>Sepete Ekle</button>
                        </nav>
                    </div>
                </article>
                <article class="no-padding s12 m6 l4 left-align">
                    <a class="responsive"  href="/product">
                        <img class="responsive extra" src="https://picsum.photos/210/300">
                        <div class="absolute top right margin round error-container" style="padding: 0 10px;">%50 İndirim</div>
                    </a>
                    <div class="padding">
                        <div class="row">
                            <div class="round error-text" style="padding: 0 10px;">En çok satan</div>
                            <div class="round tertiary-text" style="padding: 0 10px;">Tükenmek üzere</div>
                        </div>
                        <h5>Çakmak</h5>
                        <nav class="left-align middle-align">
                            <h5 class="small">15.90₺</h5>
                            <h6 class="small overline">31.80₺</h6>
                        </nav>
                        <nav class="right-align">
                            <button>Sepete Ekle</button>
                        </nav>
                    </div>
                </article>
            </section>
            <section class="grid left-align" style="margin-top: 100px">
                <h5 class="s12">En Çok Satanlar</h5>
                <article class="no-padding s12 m6 l4 left-align">
                    <div class="responsive">
                        <img class="responsive extra" src="https://picsum.photos/200/300">
                        <div class="absolute top right margin round error-container" style="padding: 0 10px;">%50 İndirim</div>
                    </div>
                    <div class="padding">
                        <div class="row">
                            <div class="round error-text" style="padding: 0 10px;">En çok satan</div>
                            <div class="round tertiary-text" style="padding: 0 10px;">Tükenmek üzere</div>
                        </div>
                        <h5>Çakmak</h5>
                        <nav class="left-align middle-align">
                            <h5 class="small">15.90₺</h5>
                            <h6 class="small overline">31.80₺</h6>
                        </nav>
                        <nav class="right-align">
                            <button>Sepete Ekle</button>
                        </nav>
                    </div>
                </article>   
                <article class="no-padding s12 m6 l4 left-align">
                    <div class="responsive">
                        <img class="responsive extra" src="https://picsum.photos/205/300">
                        <div class="absolute top right margin round error-container" style="padding: 0 10px;">%50 İndirim</div>
                    </div>
                    <div class="padding">
                        <div class="row">
                            <div class="round error-text" style="padding: 0 10px;">En çok satan</div>
                            <div class="round tertiary-text" style="padding: 0 10px;">Tükenmek üzere</div>
                        </div>
                        <h5>Çakmak</h5>
                        <nav class="left-align middle-align">
                            <h5 class="small">15.90₺</h5>
                            <h6 class="small overline">31.80₺</h6>
                        </nav>
                        <nav class="right-align">
                            <button>Sepete Ekle</button>
                        </nav>
                    </div>
                </article>
                <article class="no-padding s12 m6 l4 left-align">
                    <div class="responsive">
                        <img class="responsive extra" src="https://picsum.photos/210/300">
                        <div class="absolute top right margin round error-container" style="padding: 0 10px;">%50 İndirim</div>
                    </div>
                    <div class="padding">
                        <div class="row">
                            <div class="round error-text" style="padding: 0 10px;">En çok satan</div>
                            <div class="round tertiary-text" style="padding: 0 10px;">Tükenmek üzere</div>
                        </div>
                        <h5>Çakmak</h5>
                        <nav class="left-align middle-align">
                            <h5 class="small">15.90₺</h5>
                            <h6 class="small overline">31.80₺</h6>
                        </nav>
                        <nav class="right-align">
                            <button>Sepete Ekle</button>
                        </nav>
                    </div>
                </article>
            </section>
        </main>
    </div>
</header>

