@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Gizlilik Politikası</h1>
<p>Dijikon olarak, kullanıcı bilgilerinizin gizliliğine büyük önem veriyoruz. Kişisel verileriniz, yalnızca sipariş süreci ve müşteri hizmetleri için kullanılır. Üçüncü şahıslarla asla paylaşılmaz.</p>
<p>Web sitemiz çerez (cookie) kullanmaktadır. Bu çerezler, kullanıcı deneyimini geliştirmek amacıyla kullanılır.</p>
<p>KVKK ve yürürlükteki diğer veri koruma yasalarına uygun olarak hareket ediyoruz.</p>
