@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kullanım Koşulları</h1>
<p>Dijikon sitesini ziyaret eden kullanıcılar aşağıdaki koşulları kabul etmiş sayılır:</p>
<ul>
    <li>Site içerisindeki içerikler sadece bilgilendirme amaçlıdır.</li>
    <li>Satın alma işlemleri simülasyon amaçlı olup gerçek ticari işlem niteliği taşımaz.</li>
    <li>Site üzerinde yapılan tüm işlemler ders projesi kapsamında yürütülmektedir.</li>
    <li>Kullanıcılar paylaştıkları bilgilerin doğruluğundan sorumludur.</li>
</ul>
